<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SNEAKERJAGERS - Brands</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css"
          href="/static/css/style.css"/>
    <link rel="stylesheet"
          th:href="@{/css/middlepane.css}"
            type = "text/css"
          href="/static/css/middlepane.css">
    <link rel="stylesheet"
          th:href="@{/css/leftpane.css}"
          type="text/css"
          href="/static/css/leftpane.css">
    <link rel="stylesheet"
          th:href="@{/css/rightpane.css}"
          type="text/css"
          href="/static/css/rightpane.css">
</head>

<body>
<div th:replace="layout.html :: leftpane"></div>
<div th:replace="layout.html :: rightpane"></div>

<div class="middlepane">
    <section  th:each="brand : ${brands}">
        Merk: [[${brand.brandName}]], oprichtingsdatum: [[${brand.establishmentDate}]]
    </section>
</div>



</body>
</html>
