<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css"
          href="/css/style.css"/>
</head>
</head>
<body>

<div th:fragment="linkscolumn">
    <div class="column">
        <div class="left">
            Quick links
            <div th:fragment="linkscolumn" th:each="link : ${links}">
                <a href=&{link.html} th:href=@{${link.href}}>[[${link.text}]]</a>
            </div>
        </div>
    </div>

</div>

<ul>
    <li th:each="brand : ${brands}">
        Merk: [[${brand.brandName}]], oprichtingsdatum: [[${brand.establishmentDate}]]
    </li>
</ul>

<div class="recentcontainer" style="background-color:#fff;" >
    <div class="recentitem" style="background-color:#e6e6e6;" th:each="shoe : ${shoes}">
        <h4>[[${shoe.shoeName}]]</h4>
        <p>[[${shoe.details}]]</p>
    </div>
</div>

</body>
</html>
