<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SNEAKERJAGERS - [[${currentBrand.brandName}]]</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css"
          href="/static/css/style.css"/>
    <link rel="stylesheet"
          th:href="@{/css/middlepane.css}"
          type = "text/css"
          href="/static/css/middlepane.css">
    <link rel="stylesheet"
          th:href="@{/css/leftpane.css}"
          type="text/css"
          href="/static/css/leftpane.css">
    <link rel="stylesheet"
          th:href="@{/css/rightpane.css}"
          type="text/css"
          href="/static/css/rightpane.css">
</head>
<body>

<div th:replace="layout.html :: leftpane"></div>
<div th:replace="layout.html :: rightpane"></div>

<div class="middlepane">
    <h1>[[${currentBrand.brandName}]]</h1>
    <h3>Establishment date: [[${currentBrand.establishmentDate}]]</h3>
    <nav>
        <div>
        <section  th:each="shoe : ${currentBrand.shoes}">
            <h4>[[${shoe.shoeName}]] </h4>
            <br>
            Release datum: [[${shoe.releaseDate}]]
        </section>
        </div>
    </nav>
</div>
</body>
</html>
