<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SNEAKERJAGERS - Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css"
          href="/static/css/style.css"/>
    <link rel="stylesheet"
          th:href="@{/css/middlepane.css}"
          type = "text/css"
          href="/static/css/middlepane.css">
    <link rel="stylesheet"
          th:href="@{/css/leftpane.css}"
          type="text/css"
          href="/static/css/leftpane.css">
    <link rel="stylesheet"
          th:href="@{/css/rightpane.css}"
          type="text/css"
          href="/static/css/rightpane.css">
</head>

<div th:fragment="leftpane" class="leftpane">
    <div class="topleftpane">
        <input type="text" id="searchShoe" placeholder="Search for a shoe">
        <input type="text" id="searchBrand" placeholder="Search for a brand">
    </div>

    <div class="lowerleftpane">
        Quick links
        <div th:fragment="linkscolumn" th:each="link : ${links}">
            <a href=&{link.html} th:href=@{${link.href}}>[[${link.text}]]</a>
        </div>
    </div>
</div>

<div class="middlepane">
    <h1>SNEAKERJAGERS</h1>

</div>

<div th:fragment="rightpane" class="rightpane">
    <div class="toprightpane">
        <h1>SNEAKERJAGERS</h1>

        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" >
        </br>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password">
        <button type="submit">Login</button>
    </div>
    <div class="lowerrightpane">
        <h3>Recently visited</h3>
        <nav class="shortnav">
            <div>
                <section th:each="shoe : ${shoes}"> <h4>[[${shoe.shoeName}]]</h4>
                    <p>[[${shoe.details}]]</p>
                </section>
            </div>
        </nav>
    </div>
</div>

</html>
