<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css"
          href="/css/style.css"/>

</head>
<body>
<div th:fragment="linkscolumn">
    <div class="column">
        <div class="left">
            Quick links
            <div th:fragment="linkscolumn" th:each="link : ${links}">
                <a href=&{link.html} th:href=@{${link.href}}>[[${link.text}]]</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>
